/* pre {
  display: block;
  background-color: #283646 !important;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
} */

/* pre>code {
  border: 0px !important;
  background-color: #283646 !important;
  color: #fff;
} */

/* code {
  display: inline-block;
  background-color: #f3f3f3;
  border: 1px solid #fdb9cc;
  border-radius: 3px;
  font-size: 12px;
  padding-left: 5px;
  padding-right: 5px;
  color: #4f4f4f;
  margin: 0px 3px;
} */

iframe {
  height: 34rem;
}

.article-content-md {
  font-size: 16px !important;
}

.article-content-html {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  min-height: 635px;
  background-color: #f0f0f0;
  overflow: auto;
}

.article-content-html h1 {
  font-size: 30px;
}

.article-content-html h2 {
  font-size: 28px;
  border-bottom: 1px solid #cbcbcb;
}

.article-content-html h3 {
  font-size: 24px;
}

.article-content-html pre {
  display: block;
  /* background-color: #f3f3f3; */
  background-color: #282c34 !important;
  padding: 0.5rem !important;
  overflow-y: auto;
  font-weight: 300;
  font-family: Menlo, monospace;
  border-radius: 0.3rem;
}

.article-content-html pre>code {
  /* color: #000;
  background-color: #f0f0f0; */
  border: 0px !important;
  background-color: #282c34 !important;
  color: #fff;
}

.article-content-html code {
  display: inline-block;
  padding: 0 5px;
  margin: 0 3px;
  background-color: #f5f5f5;
  border-radius: 3px;
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: 900;
  color: #bd4147;
}

.article-content-html blockquote {
  border-left: 4px solid #cbcbcb;
  padding: 10px 10px 10px 30px;
  background-color: #f8f8f8;
}

.article-intr-html {
  min-height: 98px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f0f0f0;
}

.article-intr-html h1 {
  font-size: 30px;
}

.article-intr-html h2 {
  font-size: 28px;
  border-bottom: 1px solid #cbcbcb;
}

.article-intr-html h3 {
  font-size: 24px;
}

.article-intr-html pre {
  display: block;
  background-color: #f0f0f0;
  padding: 5px;
  border-radius: 5px;
}

.article-intr-html pre>code {
  color: #000;
  background-color: #f0f0f0;
}

.article-intr-html code {
  display: inline-block;
  padding: 0 5px;
  margin: 0 3px;
  background-color: #f5f5f5;
  border-radius: 3px;
  white-space: pre-wrap;
  font-size: 12px;
  font-weight: 900;
  color: #bd4147;
}

.article-intr-html blockquote {
  border-left: 4px solid #cbcbcb;
  padding: 5px 5px 5px 10px;
  background-color: #f8f8f8;
}

.date {
  margin-top: 10px;
}