.header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 50px;
  padding: 0 10px;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  line-height: 44px;
}

.header-logo {
  color: #1e90ff;
  font-size: 24px;
}

.header-text {
  margin-left: 8px;
  color: #999;
}

/* antd样式设置 */

.header .ant-menu-horizontal {
  border: 0;
}

.header .ant-menu-item {
  vertical-align: middle;
}